

<section style="margin-top: 120px!important;" class="mt-4">
  <div class="d-flex flex-column align-items-center justify-content-center container-fluid">
    <div style="max-width: 900px;" class="container-fluid d-flex justify-content-between align-items-baseline">
      <p class="display-5 fw-bold">Sujets</p>
      <button type="button" class="btn btn-outline-success btn-lg" (click)="onAddSubject()">
        <i class="fa-solid fa-file-arrow-up"></i>
        <span class="ms-1"> Ajouter</span>
      </button>
    </div>
      <div class="table-container">
        <table class="table table-sm table-light table-striped table-hover table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>URL</th>
            <th>Editer</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr  *ngFor="let sujet of subjects">
            <td>{{ sujet.titre }}</td>
            <td>{{ sujet.description }}</td>
            <td>
              <a style="text-decoration: none" [href]="sujet.pdfUrl" target="_blank">Voir le Pdf</a>
            </td>
            <td>
              <button class="btn btn-success btn-sm " (click)="onEditSubject(sujet.id)">
                <i class="fa-solid fa-pen-to-square me-2"></i>Modifier
              </button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="onDeleteSubject(sujet.id)">
                <i class="fa-solid fa-trash me-2"></i>Supprimer
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  <app-statistiques/>
</section>
