<section>
    <div  class=" d-flex justify-content-center align-items-center para container-fluid">
        <div class="">
            <h2 class=" text-center display-5 text-light fw-bold">À propos de <span style="background-color: white!important; opacity: 0.7;" class="rounded-1 text-success px-1">Good Revision</span></h2>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-sm-12 col-md-6">
                <h3 class="mb-3 text-uppercase">C'est quoi <span class="text-success fw-bold">Good Revision</span> ?</h3>
                <p style="text-align: justify;">
                    Dans le contexte universitaire, les étudiants rencontrent souvent des difficultés à accéder à des ressources fiables pour une préparation efficace de leurs examens. Good Révision est une plateforme innovante conçue pour répondre à ce besoin crucial. <br><br>
    
    Le site permet aux étudiants de retrouver facilement les anciens sujets d'examen, classés par matière, année et niveau. Ces sujets constituent un excellent outil pour se familiariser avec les types de questions posées, comprendre les attentes des enseignants et optimiser leurs révisions. <br><br>
    
    Good Révision se distingue en rendant ces ressources accessibles à tous les étudiants, éliminant ainsi les obstacles liés à leur dispersion ou à leur accès limité. Grâce à cette plateforme, chaque étudiant a une chance égale de réussir et d'améliorer ses performances académiques. <br><br>
    
    Avec une interface intuitive et des fonctionnalités de recherche avancée, Good Révision s'impose comme un allié indispensable pour tous ceux qui aspirent à l'excellence universitaire.
                </p>
            </div>
            <div class=" col-sm-12 col-md-6">
               <div class="d-flex flex-column align-items-center">
                <h3 class="mb-4 text-uppercase">Quelques Avis des <span class="text-success fw-bold">etudiants</span> </h3>
                <div style="max-width: 580px; " class="card mb-1">
                        <div  style="background-color: #333;" class=" text-light card-body">
                            <p style="font-size: .9rem; opacity: .7;">
                                Grâce à Good Révision, j'ai enfin pu retrouver les anciens sujets dont j'avais besoin. L'interface est simple et pratique. Je recommande vivement à tous les étudiants !
                            </p>
                             <div class="d-flex">
                                <img width="60px" height="60px" src="/assets/default.jpg" class="rounded-5 me-3" alt="">
                                <div style="font-size: .8rem;">
                                    <h4 style="font-size: 1rem; color: rgba(255, 217, 0, 0.711); opacity: .9;" class="mb-0">MBY Christian</h4>
                                    <p style="opacity: .7;" class="mb-0">Niveau 1</p>
                                    <p style="color: rgba(255, 217, 0, 0.711);opacity: .9;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                                </div>
                             </div>   

                        </div>
                </div>


                <div style="max-width: 580px; " class="card mb-1">
                    <div  style="background-color: #333;" class=" text-light card-body">
                        <p style="font-size: .9rem; opacity: .7;">
                            Good Révision m'a sauvé pour mes examens ! Les fonctionnalités de recherche sont top, et j'ai pu m'organiser beaucoup plus efficacement. Merci pour cette initiative !!
                        </p>
                         <div class="d-flex">
                            <img width="60px" height="60px" src="/assets/default.jpg" class="rounded-5 me-3" alt="">
                            <div style="font-size: .8rem;">
                                <h4 style="font-size: 1rem; color: rgba(255, 217, 0, 0.711); opacity: .9;" class="mb-0">SAFIATOU Patehale</h4>
                                <p style="opacity: .7;" class="mb-0">Niveau 1</p>
                                <p style="color: rgba(255, 217, 0, 0.711);opacity: .9;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></p>
                            </div>
                         </div>   

                    </div>
            </div>

            <div style="max-width: 580px;" class="card">
                <div  style="background-color: #333;" class=" text-light card-body ">
                    <p style="font-size: .9rem; opacity: .7;">
                        Cette plateforme m'a permis de mieux comprendre les attentes des enseignants. Les anciens sujets sont bien classés et faciles d'accès. Un excellent outil de révision!
                    </p>
                     <div class="d-flex">
                        <img width="60px" height="60px" src="/assets/default.jpg" class="rounded-5 me-3" alt="">
                        <div style="font-size: .8rem;">
                            <h4 style="font-size: 1rem; color: rgba(255, 217, 0, 0.711); opacity: .9;" class="mb-0">SEUDIEU Yann</h4>
                            <p style="opacity: .7;" class="mb-0">Niveau 2</p>
                            <p style="color: rgba(255, 217, 0, 0.711);opacity: .9;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                        </div>
                     </div>   

                </div>
        </div>
               </div>
            </div>
        </div>
       
    </div>

    <div>
        <app-statistiques/>
    </div>
</section>
