
<footer class="row pb-5 row-cols-1 row-cols-md-3 container-fluid justify-content-around py-2">
  <div class="col text-center">
    <img width="200px" height="150px" src="/assets/logo.png" alt="">
   <div class="logo-bottom">
     <p style="color: rgba(207,207,204,0.8);">L’objectif de Good revision est de faciliter l'acces aux anciens sujets aux étudiants .</p>
     <a href="#"><i style="font-size: 1rem " class="text-success fa-solid fa-angles-right"></i>En Savoir plus</a>
     <div class="mt-2 mt-md-4">
       <span class="rounded-2" >
         <i style="color: #3B5998" class="fa-brands fa-square-facebook"></i>
       </span>
       <span class="rounded-2">
         <i style="color: #DB4437" class="fa-brands fa-square-google-plus"></i>
       </span>
       <span class="rounded-2">
         <i style="color: #25D366" class="fa-brands fa-square-whatsapp"></i>
       </span>
       <span class="rounded-2">
         <i style="color: #FF0000" class="fa-brands fa-square-youtube"></i>
       </span>
     </div>
   </div>
  </div>
  <div class="col pt-4 text-center">
    <p style="font-weight: 600; font-size: 1.3rem" class="text-light">Acces Rapides</p>
    <div style="color: rgba(207,207,204,0.8);">
      <p style="border-bottom: 1px dashed white;padding-bottom: 1rem"><a  routerLink="/home" routerLinkActive="active-link">Accueil</a></p>
      <p style="border-bottom: 1px dashed white;padding-bottom: 1rem"><a routerLink="/subjects" routerLinkActive="active-link" href="#">Sujet</a></p>
      <p style="border-bottom: 1px dashed white;padding-bottom: 1rem"><a routerLink="/a-propos" routerLinkActive="active-link" href="#">A Propos</a></p>
    </div>
  </div>
  <div class="col pt-4 text-center">
    <p style="font-weight: 600; font-size: 1.3rem" class="text-light">Contacts</p>
    <div style="color: rgba(207,207,204,0.8)">
      <p style="border-bottom: 1px dashed white;padding-bottom: 1rem; font-size:1rem;"><i style="font-size: 1rem" class="fa-solid fa-phone"></i>+237 658 607 4..</p>
      <p style="border-bottom: 1px dashed white;padding-bottom: 1rem">goodrevision&#64;gmail.com</p>
      <div class="newsletter-container">
        <p class="text-light">Souscrivez à notre newsletter</p>
        <form style="height: 40px"  class="d-flex justify-content-center">
          <input type="email" placeholder="Votre Email" class="rounded-end-0 form-control-sm" required>
          <button type="submit" class="btn rounded-start-0 btn-success">
            <i style="font-size: 30px" class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>

    </div>
  </div>

</footer>

